.container {
  width: 40%;
  height: calc(100vh - 102px);
  overflow: auto;
  padding: 1rem;
  background-color: #e7e7e7;
  h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-left: 1rem;
  }
}
.calendar {
  background-color: #ffffff;
}
.container_accordion {
  width: 100%;
  height: 50%;
  overflow-y: auto;
  margin-bottom: 2rem;
}
