.container {
  display: flex;
}

.consult_content {
  width: 100%;
  padding: 2rem;
  table {
    margin-top: 2rem;
  }
}
.filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    span {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 2rem;
      svg {
        margin-right: 1rem;
      }
    }
  }
}
