.container {
  width: 100%;
  height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 8px #898989;
  background-color: #e7e7e7;
  span {
    font-size: 2rem;
    font-weight: normal;
  }
  // div {
  //   background-color: green;
  // }
}
.card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  div {
    display: block;
  }
}
.icons {
  width: 100%;
  align-items: flex-end;
}
